.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(231, 233, 241);
}


.App-header {
  font-size: calc(10px + 2vmin);
}

.container{
  width: 70vw;
}

.main{
  display: flex;
  justify-content: space-between;
}